body {
    background-color: rgb(88, 135, 130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48, 48, 48);
}

a:link {
    
}

h1 {
    display: grid;
    grid: inherit;
}

.main {
    display: grid;
    grid: inherit;
}

.items {
    background-color: rgb(62, 114, 107);
}
